---
layout: center
---

<div class="home">
  <h1>Simplify My Biz</h1>
  <h2>Bring your business to the Internet.</h2>
  <h4>What we do:</h4>
      <p>&#126; Build a beautiful website &#126;</p>
      <p>&#126; Setup Google Email &#38; Docs &#126;</p>
      <p>&#126; Help with Apple Computers &#38; iPhones &#126;</p>
      <p>&#126; Setup a Facebook Business &#38; Yelp Profile page &#126;</p>
      <p>&#126; Achieve targeted SEO for Google &#38; Bing ranking &#126;</p>
      <em>We simplify your technology so you can focus on the work that runs your business.</em>
      
  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post py3">
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
        <p class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
